/* General style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color :white !important;
    font-family: 'Poppins', sans-serif !important;
}

/* ******************************************************************** */

/* Première page de la page d'accueil */
#homeFirstPage {
    width: 100%;
    height: 100%;
}


/* Fullscreen Video Background */
/* Div englobant ma video */
#myVideo {
    width: 100%;
    height: 100vh;
    /* Relative to 1% of the height of the viewport */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

/* Ma vidéo */
#myVideo video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    /*définit la façon dont le contenu d'un élément remplacé doit s'adapter à son conteneur en utilisant sa largeur et sa hauteur */
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Le contenu sur ma vidéo */
#myVideo #contentOnVideo {
    z-index: 1;
    /* centrer une div */
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

/* p */
#myVideo #contentOnVideo p {
    font-size: 1.2rem;
    color: #fff;
    opacity: 0.6;
}

/* ****************************************************************** */

/* Navbar */
#navbar {
    height: auto;
    width: 100%;
}


#divInscriptionConnexion {
    position: absolute;
    top: 20%;
    right: 1%;
    height: 60%;
}

#divInscriptionConnexion ul li button {
    color: #DEE85E;
    text-shadow: 2px 2px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

/* Lien Navbar */
#navbar a {
    margin-left: 50px;
    color: #DEE85E !important;
    font-size: 18px;
    text-shadow: 2px 2px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    transform: scale(1.0);
    transition-duration: 500ms;
}

#navbar a:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
}

/* *********************************************************** */

/* Logo Horloge Navbar */
/* Cadran horloge */
/* Elle dirige le margin top de l'horloge et des liens  */
#clock {
    width: 5rem;
    height: 5rem;
    border: 2px solid yellow;
    border-radius: 50%;
    position: relative;
    box-shadow:
        0 0 0 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0, 0, 0, 0.2);
}

/* inside horloge */
#clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../img/LogoNavbar.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

/* Aiguilles horloge */
.hand {
    width: 50%;
    height: 2px;
    background: yellow;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    /* permet de modifier l'origine du repère pour les opérations de transformation d'un élément */
    transform: rotate(90deg);
}

/* ************************************************************************ */
/* Deuxième page de la page d'accueil */
#homeSecondPage {
    width: 100%;
    height: 100%;
}

/* Sommaire */
#summary {
    height: auto;
    background-color: #0B145D;
    opacity: 0.5;
    border-radius: 5%;
}

#summary h2 {
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
}

#summary ol li {
    font-size: 24px;
}

/* Caroussel */
#myCaroussel {
    height: 100%;
}


