/* General style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #DEE85E !important;
    font-family: 'Poppins', sans-serif !important;
}

/* ******************************************************************** */

/* Fullscreen Video Background */
/* Div englobant ma video */
#myVideo {
    height: 100vh;
    /* Relative to 1% of the height of the viewport */
    overflow: hidden;
    align-items: center;
}

/* Ma vidéo */
#myVideo video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    /*définit la façon dont le contenu d'un élément remplacé doit s'adapter à son conteneur en utilisant sa largeur et sa hauteur */
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Le contenu sur ma vidéo */
#myVideo #contentOnVideo {
    z-index: 1;
    margin-top: 10%;
    text-align: center;
    border: 2px solid white;
    text-align: center;
    height: 600px;
    background-color: #0B145D;
    opacity: 0.6;
    border-radius: 5%;
}

/* Titre de la page */
h2 {
    font-size: 500% !important;
    text-transform: uppercase;
}

/* div englobant mes 2 colonnes */
#questionQuizz {
    display: flex;
}

/* colonne de gauche */
#chooseQuizz {
    display: inline-block;
    padding: 50px;
}

#chooseQuizz button {
    margin-top: 4% !important;
    margin-bottom: 5% !important;
    width: 50%;
}

#divTrait {
    width: 1px;
    height: 450px;
    border: 2px solid white;
}

/* colonne de droite */
#createQuizz {
    display: inline-block;
    padding: 50px;
    display: inline-block;
}

#createQuizz button {
    margin-top: 4% !important;
    margin-bottom: 35% !important;
    width: 50%;
    height: 20%;
}

/* ****************************************************************** */
/* Navbar */
#navbar {
    height: auto;
    width: 100%;
}

#divInscriptionConnexion {
    position: absolute;
    top: 20%;
    right: 1%;
    height: 60%;
}

#divInscriptionConnexion ul li button {
    color: #DEE85E;
    text-shadow: 2px 2px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

/* Lien Navbar */
#navbar a {
    margin-left: 50px;
    color: #DEE85E !important;
    font-size: 18px;
    text-shadow: 2px 2px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    transform: scale(1.0);
    transition-duration: 500ms;
}

#navbar a:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
}

/* *************************************************************** */

/* Logo Horloge Navbar */
/* Cadran horloge */
/* Elle dirige le margin top de l'horloge et des liens  */
#clock {
    width: 5rem;
    height: 5rem;
    border: 2px solid yellow;
    border-radius: 50%;
    position: relative;
    box-shadow:
        0 0 0 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0, 0, 0, 0.2);
}

/* inside horloge */
#clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../img/LogoNavbar.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

/* Aiguilles horloge */
.hand {
    width: 50%;
    height: 2px;
    background: yellow;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    /* permet de modifier l'origine du repère pour les opérations de transformation d'un élément */
    transform: rotate(90deg);
}
